<div class="container" *ngIf="weatherData">
  <div class="search">
    <form #form="ngForm" (submit)="onSubmit()">
      Right now in
      <input
        type="text"
        name="city"
        [(ngModel)]="cityName"
        (click)="onHandleClear()"
      />

      <a
        href="https://maps.google.com/?q={{ weatherData.coord.lat }},{{
          weatherData.coord.lon
        }}"
        target="_blank"
      >
        <div class="weather__location"></div
      ></a>

      , there's {{ weatherData.weather[0].description }}.
    </form>
  </div>
  <div class="weather__info">
    <div class="weather-box weather__icon">
      <img
        src="http://openweathermap.org/img/wn/{{
          weatherData.weather[0].icon
        }}@2x.png"
        alt=""
      />
    </div>
    <div
      class="weather-box weather__value"
      (click)="onChangeValue()"
      *ngIf="!isCelsius"
    >
      <div class="weather__main-value">
        {{ weatherData.main.temp | number: "1.0-0" }}°F
      </div>
      <div class="weather__sub-value">
        {{ weatherData.main.temp_min | number: "1.0-0" }}°F/{{
          weatherData.main.temp_max | number: "1.0-0"
        }}°F
      </div>
    </div>
    <div
      class="weather-box weather__value"
      (click)="onChangeValue()"
      *ngIf="isCelsius"
    >
      <div class="weather__main-value">{{ cData | number: "1.0-0" }}°C</div>
      <div class="weather__sub-value">
        {{ cDataMin | number: "1.0-0" }}°C/{{ cDataMax | number: "1.0-0" }}°C
      </div>
    </div>
    <div class="weather-box weather__more-info">
      <div class="more-info">
        <img src="../assets/wind-new.png" alt="Wind speed" />
        <p>{{ weatherData.wind.speed | number: "1.0-0" }}<span> km/h</span></p>
      </div>
      <div class="more-info">
        <img src="../assets/humidity-new.png" alt="Humidity" />
        <p>{{ weatherData.main.humidity | number: "1.0-0" }}<span> %</span></p>
      </div>
      <div class="more-info">
        <img src="../assets/thermometer.png" alt="Air pressure" />
        <p>{{ weatherData.main.pressure }}<span> Pa</span></p>
      </div>
    </div>
  </div>
  <div class="sun__info">
    <div class="sun-info__box">
      <img class="sun-info__icon" src="../assets/sunrise.png" alt="" />
      <p class="sun-info__time">
        {{ weatherData.sys.sunrise | date }}//1661399583
      </p>
    </div>
    <div class="sun-info__box">
      <img class="sun-info__icon" src="../assets/sunset.png" alt="" />
      <p class="sun-info__time">
        {{ weatherData.sys.sunset | date: "h:mm a" }}
      </p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
